<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EQIconExtractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <EQIconExtractor.Properties.Settings>
            <setting name="InputFolder" serializeAs="String">
                <value>C:\Games\EverQuest\uifiles\default</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value>C:\Games\EverQuest\Temp\Icons</value>
            </setting>
        </EQIconExtractor.Properties.Settings>
    </userSettings>
</configuration>
